{{- $copyright := . -}}
<div class="footer-wrap">
    <p class="copyright">{{- $copyright -}}</p>
    <p class="powerby"><span>Bu&nbsp;site&nbsp;</span><a href="https://gohugo.io" 
        target="_blank">Hugo</a><span>&nbsp;&amp;&nbsp;</span><a href="https://themes.gohugo.io/hugo-notepadium/" 
        target="_blank">Notepadium</a><span>&nbsp;ile&nbsp;yaratılmıştır.</span></p>
    {{- partial "beian.html" . -}}
</div>
